<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fvbib.lineup">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="FVBIB Lineup"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FVBIB">

        <activity android:name=".ui.InstruccionesActivity"/>
        <activity android:name=".ui.ArbitrosActivity"/>
        <activity android:name=".ui.EntrenadoresActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
